<header>
        <div class="navbar-fixed-top">
          <nav>
            <div class="block1">
          <a href="/contacts"><div class="link-1">Contacts</div>
          </a>
          <a href="/aboutus"><div class="link-1">About us</div></a>
          <a href="/"><div class="link-1">Main</div></a>
        </div>
            </div>
      </nav>
        </header>